:host {
    --checkbox-color: var(--primary);
    --secondary: var(--secondary-text);
    --container-background-neutral: var(--neutral);
    --checkbox-border:var(--disabled-text);
    --checkbox-secondary-text: var(--secondary-text);
    --font-family: var(--global-font-family);
    --font-color: var(--secondary-text);
    --font-weight: var(--font-weight-regular);
    --checkbox-disabled-text: var(--disabled-text);
    --neutral-color: var(--neutral);
    --tertiary-color: var(--tertiary-text);
}
